/* board and cell */
#board {
  width: var(--board-width);
  height: var(--board-width);
  line-height: var(--board-width);
  margin: auto;
  border: none;
  overflow: hidden;
}
#board > div {
  width: var(--board-width);
  height: calc(var(--board-width) / 9);
  line-height: calc(var(--board-width) / 9);
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
div.cell {
  width: calc(var(--board-width) / 9);
  height: calc(var(--board-width) / 9);
  line-height: calc(var(--board-width) / 9);
  flex: 1;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
}
div.text {
  text-align: center;
  vertical-align: middle;
  font-size: calc(var(--board-width) / (9 * 1.5));
  pointer-events: none;
}

/* memo */
div.memo {
  width: calc(var(--board-width) / 9);
  height: calc(var(--board-width) / 9);
  line-height: calc(var(--board-width) / 9);
  margin: auto;
  border: none;
  overflow: hidden;
  pointer-events: none;
}
div.memo > div {
  width: calc(var(--board-width) / 9);
  height: calc(var(--board-width) / 27);
  line-height: calc(var(--board-width) / 27);
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  pointer-events: none;
}
div.memotext {
  width: calc(var(--board-width) / 27);
  height: calc(var(--board-width) / 27);
  line-height: calc(var(--board-width) / 27);
  flex: 1;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  pointer-events: none;
  text-align: center;
  vertical-align: middle;
  font-size: calc(var(--board-width) / (27 * 1.5));
  pointer-events: none;
}

/* horizontal borders */
div.cell[row="0"],
div.cell[row="3"],
div.cell[row="6"] {
  border-top-style: solid;
  border-top-color: #000000;
  border-top-width: medium;
}
div.cell[row="1"],
div.cell[row="2"],
div.cell[row="4"],
div.cell[row="5"],
div.cell[row="7"],
div.cell[row="8"] {
  border-top-style: solid;
  border-top-color: #000000;
  border-top-width: thin;
}
div.cell[row="8"] {
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-bottom-width: medium;
}

/* vertical borders */
div.cell[col="0"],
div.cell[col="3"],
div.cell[col="6"] {
  border-left-style: solid;
  border-left-color: #000000;
  border-left-width: medium;
}
div.cell[col="1"],
div.cell[col="2"],
div.cell[col="4"],
div.cell[col="5"],
div.cell[col="7"],
div.cell[col="8"] {
  border-left-style: solid;
  border-left-color: #000000;
  border-left-width: thin;
}
div.cell[col="8"] {
  border-right-style: solid;
  border-right-color: #000000;
  border-right-width: medium;
}

/* highlight */
div.cell[original="true"] > div {
  font-weight: bold;
}
div.cell[select="true"] {
  background-color: #5e88bf;
}
div.cell[select="false"][highlight="true"],
div.memotext[highlight="true"] {
  background-color: #8bcad9;
}
div.cell[select="false"]:hover {
  background-color: #aaaaaa;
}
div.memotext[only="true"] {
  background-color: #ff6962;
}

