html {
  height: 100%;
  box-sizing: border-box;
  --board-width: min(70vh, 90vw);
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  width: 100%;
  height: 100%;
  margin: auto;
  background-color: #ffffff;
}

* {
  font-family: "Courier New";
  font-weight: normal;
  font-size: 20px;
  color: #000000;
}

footer {
  width: 100%;
  margin: auto;
  position: fixed;
  bottom: 0;
  text-align: center;
  background-color: #000000;
}

footer > div.footer-copyright {
  margin: auto;
  color: #ffffff;
  font-size: calc(var(--board-width) / (18 * 1.5));
  text-align: center;
}

