#numkeys {
  width: var(--board-width);
  margin: auto;
  display: flex;
  border: none;
}

div.numkey {
  width: calc(var(--board-width) / 12);
  height: calc(var(--board-width) / 12);
  line-height: calc(var(--board-width) / 12);
  margin: calc(var(--board-width) / 108);
  border-style: solid;
  border-color: #777777;
  border-width: thin;
  border-radius: calc(var(--board-width) / 108);
  background-color: #ffffff;
  color: #777777;
  font-size: calc(var(--board-width) / 12);
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
}

div.numkey:hover {
  background-color: #777777;
  color: #ffffff;
}

div.numkey:active {
  font-weight: bold;
}

